#### Front

# Logs
/web/logs
/web/*.log
/web/npm-debug.log*
/web/yarn-debug.log*
/web/yarn-error.log*
/web/pnpm-debug.log*
/web/lerna-debug.log*

/web/node_modules
/web/.DS_Store
/web/dist
/web/dist-ssr
/web/coverage
/web/*.local

/web/cypress/videos/
/web/cypress/screenshots/

# Editor directories and files
/web/.vscode/*
!/web/.vscode/extensions.json
/web/.idea
/web/*.suo
/web/*.ntvs*
/web/*.njsproj
/web/*.sln
/web/*.sw?

/web/*.tsbuildinfo

###

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
# .python-version

# pipenv
#Pipfile.lock

# UV
#uv.lock

# poetry
#poetry.lock

# pdm
.pdm.lock
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder
.spyderproject
.spyproject

# Rope
.ropeproject

# mkdocs
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# pytype
.pytype/

# Cython
cython_debug/

# JetBrains IDEs (PyCharm)
.idea/

# Ruff
.ruff_cache/

# PyPI
.pypirc

# === Entradas específicas do projeto SBD-ANALYZER ===

# Configs de IDE
.vscode/           # VSCode settings

# Frontend (caso use Node.js no /web)
node_modules/
package-lock.json

# Arquivos temporários e de vídeo enviados
/media/            # Vídeos analisados (se não quiser versionar)
